body {
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 10%;
    margin-left: 10%;
}

#bodycontainer {
    display: flex;
    align-items: start;
}

#title {
    display: flex;
    justify-content: start;
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
}

#CityName {
    font-size: 30px;
    font-weight: bold;
}

.todayresults {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    font-size: 20px;
}

#herocard {
    padding: 20px;
}

#cardcontainer {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

#card2:hover {
    background-color:  #BCE0ED;
}

.card {
    display: relative;
    right: 0px;
    width: 20%;
    padding: 30px 0px 30px 20px;
}

#card2 {
    border-style: solid;
    border-color: #BCE0ED;
    border-width: 4px 2px 4px 2px;
    width: 100%;
    height: 100%;
    background-color: rgba(188, 224, 237, 0.6);
    border-style: solid;
    border-color: #BCE0ED;
    border-radius: 10px 0px 0px 10px;
    transition: background-color 0.5s;
}

#card2:hover {
    background-color: rgba(188, 224, 237, 1);
}

#card3 {
    border-style: solid;
    border-color: #BCE0ED;
    border-width: 4px 2px 4px 2px;
    width: 100%;
    height: 100%;
    background-color: rgba(188, 224, 237, 0.6);
    border-style: solid;
    border-color: #BCE0ED;
    transition: background-color 0.5s;
}

#card3:hover {
    background-color: rgba(188, 224, 237, 1);
}

#card4 {
    border-style: solid;
    border-color: #BCE0ED;
    border-width: 4px 2px 4px 2px;
    width: 100%;
    height: 100%;
    background-color: rgba(188, 224, 237, 0.6);
    border-style: solid;
    border-color: #BCE0ED;
    transition: background-color 0.5s;
}

#card4:hover {
    background-color: rgba(188, 224, 237, 1);
}

#card5 {
    border-style: solid;
    border-color: #BCE0ED;
    border-width: 4px 2px 4px 2px;
    width: 100%;
    height: 100%;
    background-color: rgba(188, 224, 237, 0.6);
    border-style: solid;
    border-color: #BCE0ED;
    transition: background-color 0.5s;
}

#card5:hover {
    background-color: rgba(188, 224, 237, 1);
}

#card6 {
    border-style: solid;
    border-color: #BCE0ED;
    border-width: 4px 4px 4px 2px;
    width: 100%;
    height: 100%;
    background-color: rgba(188, 224, 237, 0.6);
    border-style: solid;
    border-color: #BCE0ED;
    border-radius: 0px 10px 10px 0px;
    transition: background-color 0.5s;
}

#card6:hover {
    background-color: rgba(188, 224, 237, 1);
}

.date{
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
}

.temp{
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 500;
}

.wind{
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 500;
}

.humidity{
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 500;
}

#results {
    width: 75%;
}

#searchcontainer {
    margin-top: 20px;
    margin-left: 10px;
    width: 25%;
}

#searchHeader{
    font-size: 20px;
    margin-left: 2px;
    margin-bottom: 5px;
}

#searchBar {
    border-style: solid;
    border-color: #BCE0ED;
    border-width: 4px 0px 4px 4px;
    border-radius: 10px 0px 0px 10px;
    padding: 5px;
    font-size: 20px;
    margin: 0px;
    width: 70%;
}

#searchBtn {
    border-style: solid;
    border-color: #BCE0ED;
    background-color: #BCE0ED;
    border-width: 4px;
    border-radius: 0px 10px 10px 0px;
    padding: 5px;
    font-size: 20px;
    margin: 0px;
    width: 30%;
}

#searchBtn:active {
    border-style: solid;
    border-color: #9CD2E6;
    background-color: #9CD2E6;
    border-width: 4px;
    border-radius: 0px 10px 10px 0px;
    padding: 5px;
    font-size: 20px;
    margin: 0px;
    width: 30%;
}